<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4WOXKh_4UXsbVEhTJ8eqI9MtMhdG7qxM</string>
	<key>GCM_SENDER_ID</key>
	<string>927063133007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twoplayercrossword</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-a22c1</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-a22c1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927063133007:ios:25042224408d4b25e9533a</string>
</dict>
</plist>